.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
p{
  margin: 20px;
}
.boton{
  margin: 25px;
  background-color: aqua;
  border-radius: 4px;
  font-size: 20px;
  padding: 8px;
  width: 150px;
}
.texto{
 text-align: center;
 color: brown;
 font-size: 20px;
}
.texto1{
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: sans-serif;
}